In [1]:
!pip install matplotlib

import pandas as pd

Collecting matplotlib
  Downloading matplotlib-3.3.2-cp38-cp38-manylinux1_x86_64.whl (11.6 MB)
     |████████████████████████████████| 11.6 MB 261 kB/s eta 0:00:01    |█████████████████████████       | 9.0 MB 664 kB/s eta 0:00:04     |██████████████████████████████▌ | 11.1 MB 5.4 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in ./env/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: numpy>=1.15 in ./env/lib/python3.8/site-packages (from matplotlib) (1.19.2)
Collecting certifi>=2020.06.20
  Using cached certifi-2020.6.20-py2.py3-none-any.whl (156 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in ./env/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.2.0-cp38-cp38-manylinux1_x86_64.whl (92 kB)
     |████████████████████████████████| 92 kB 4.5 kB/s  eta 0:00:01
Collecting pillow>=6.2.0
  Downloading Pillow-7.2.0-cp38-cp38-manylinux1_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 4.0 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in ./env/lib/python3.8/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Installing collected packages: cycler, certifi, kiwisolver, pillow, matplotlib
Successfully installed certifi-2020.6.20 cycler-0.10.0 kiwisolver-1.2.0 matplotlib-3.3.2 pillow-7.2.0

In [2]:
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("collectedData.csv", names=["GRE", "TOEFL", "CGPA", "WORK", "YEAR", "UNIVERSITY"])

df.head()

     GRE  TOEFL  CGPA  WORK    YEAR                          UNIVERSITY
0  321.0  112.0  8.86   7.0  2019.0  University of California San Diego
1  321.0  108.0  9.00  25.0  2018.0  University of California San Diego
2  327.0  111.0  8.43  18.0  2019.0  University of California San Diego
3    NaN    NaN  7.00   5.0  2019.0   University of California Berkeley
4  327.0  114.0  9.37   5.0  2019.0   University of California Berkeley

In [13]:
def ieltsToToefl(score):
    scoreMap = {
        4.0:31,
        4.5:32,
        5.0:35,
        5.5:46,
        6.0:60,
        6.5:79,
        7.0:94,
        7.5:102,
        8.0:110,
        8.5:115,
        9.0:118
    }
    if score<10:
        toeflScore = 0 if score<4 else scoreMap[score]
    else:
        toeflScore = score
    
    return toeflScore

#ieltsToToefl(4)

df["TOEFL"] = df["TOEFL"].apply(lambda x:ieltsToToefl(x))

In [15]:
def cleanYear(year):
    cleanedYear = 0
    if year>2020:
        cleanedYear=2020
    elif year<2010:
        cleanedYear=2018
    else:
        cleanedYear=year
    
    return year

df["YEAR"] = df["YEAR"].apply(lambda x:cleanYear(x))

In [30]:
df[df["YEAR"]>2018].groupby(["UNIVERSITY"])["GRE"].quantile(.6)

UNIVERSITY
California State University - Chico         304.4
California State University - Long Beach    307.0
Carnegie Mellon University                  325.6
Columbia University                         328.0
Cornell University                          324.4
Georgia Tech                                326.4
Massachusetts Institute of Technology       314.8
New York University                         324.0
Princeton University                          NaN
Purdue University                           323.0
San Francisco State University              311.2
San Jose State University                   318.0
Santa Clara University                      311.0
Stanford University                         315.2
University of California Berkeley           327.0
University of California Davis              322.0
University of California Irvine             325.0
University of California Los Angeles        328.0
University of California Riverside          316.0
University of California San Diego          326.0
University of California Santa Barbara      323.8
University of California Santa Cruz         322.0
University of Rochester                     328.6
University of Southern California           321.0
Yale University                             309.0
Name: GRE, dtype: float64